// inicio header styles


header {
    margin-top: 0%;
    nav {
        

        
        div {
            background: transparent;
            display: flex;
            justify-content: space-evenly;

            a {
                img {
                    height: 38px;
                }
            }


            div {
                justify-content: end;

                div {
                    


                    align-items: center;

                    .link {
                        font-family: Helvetica, sans-serif;
                        text-decoration: none;
                        list-style: none;
                        font-weight: bold;
                        font-style: normal;
                        font-size: 14px !important;
                        // line-height: 16px !important;
                        // letter-spacing: 0.5px !important;
                        color: rgba(255, 255, 255, 0.75);
                        transition: all 250ms;
                        padding: 10% 10%;

                        &:hover {
                            color: #DC0D28 !important;
                            border-bottom: 2px solid #DC0D28;
                            background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
                        }



                    }

                    .boton {
                        text-decoration: none;
                        border: 2px solid rgba(255, 255, 255, 0.5);
                        border-radius: 6px;
                        padding: 5% 5%;
                        margin: 8% 4%;

                        &:hover {
                            background-color: #DC0D28;
                            border: 2px solid #DC0D28;
                            color: rgba(255, 255, 255, 0.75) !important;

                        }

                    }

                }


            }
        }
    }

}